body {
    background-image: url('./images/MainPage/GREENIE_3.png');
    background-color: #0b0500;
    background-position: justify;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

input {
        text-align: right;
}

table {
    width: 400px;
    height: 400px;
    border: none;
    position: center;
    text-align: center;
    margin-left: 400px;
    margin-right: 0px;
}

.parent{
    display:inline-flex;
    margin-top: 50px;
    margin-left: 400px;
}
.child{
    text-align: center;
    width:200px;
    height:200px;
}
.parent2{
    display:inline-flex;
    margin-top: 0px;
    margin-left: 400px;
}
.child2{
    text-align: center;
    width:200px;
    height:20px;
}
.parent3{
    display:inline-flex;
    margin-top: 10px;
    margin-left: 400px;
}
.child3{
    text-align: center;
    width:200px;
    height:20px;
}

.chartParent{
    display:inline-flex;
    margin-top: 0px;
    margin-left: 300px;
}
.chartChild{
    width:500px;
    height:500px;
}

.child img{
    opacity:1;
    transition: 1s ease;
}
    
.child img:hover{
    opacity:0.5;
    transition: 1s ease;
    cursor: pointer;
}
